* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: comic sans ms;
    color: black;
}

:root {
    --background-color: #ffffff;
}

section {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2vh 3vh;
    text-align: center;
    transition: .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    padding: 6vh 5vh;
}

body {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: var(--background-color);
    transition: 2s;
}

input,
button {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2vh 3vh;
    text-align: center;
    transition: .2s;
}

#botao-verde {
    background-color: rgba(51, 255, 0, 0.2);
    border: 1px solid rgba(51, 255, 0, 0.2);
}

#botao-vermelho {
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px solid rgba(255, 0, 0, 0.2);
}

::-webkit-input-placeholder {
    color: black;
 }

input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.288);
}

button:hover {
    background-color: rgba(255, 255, 255, 0.288);
    cursor: pointer;
}

button {
    width: 30vh;
}